<div *ngIf="!_output" class="buttonClicked"> 
    <img class="image" src="https://img.freepik.com/free-vector/blue-geometric-woman-running-illustration_1284-52845.jpg?w=750">
    <h1 class="title">Login - TrainIt</h1>
    
    <input class="positioningFirst" [(ngModel)]="_usernameValue" placeholder="Username"/>
    <input class="positioningSecond" [(ngModel)]="_passwordValue" type="password" placeholder = "Password" (keydown.enter)="_submitLoginCredentials()">

    <button
        class="button"
        label="Login" 
        (click)="_submitLoginCredentials()">Login</button> 
</div>
<app-dashboard *ngIf="_loginPassed"></app-dashboard>