<div (keydown.enter)="_submitFormular()">
    <dialog open>
        <h1>Lauf eintragen</h1>
        <div class="inputDiv"> 
            <p>Anzahl Kilometer</p>
            <input type="number" class="adjustInpNumbers" [(ngModel)]="_kmNumber" placeholder="Km Anzahl"/>
        </div>
        <div class="inputDiv"> 
            <p>Anzahl Minuten</p>
            <input type="number" class="adjustInpNumbers" placeholder="Minuten Anzahl">
        </div>
        <div class="inputDiv"> 
            <p>Tag des Laufes</p>
            <input type="date" class="date">
        </div>
        <div class="inputDiv"> 
            <button class="button adjustSaveBtn">Speichern</button>
        </div>
    </dialog>
</div>